@model IEnumerable<_28199014_MVC.Models.Cat>

@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="contact" style="padding-top:0px; padding-bottom:50px">
    <div class="container">
        <div class="row">

            <!-- Section title
            ================================================== -->
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" style="margin-top:100px">
                <div class="section-title">

                    <h1 class="heading" runat="server">Cat</h1>
                    <p style="color:rgb(108, 105, 105);">Shall I compare thee to a summer's day? Thou art more lovely and more temperate.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="caption" style="width:80%; margin-left:200px">
        <p style="">
            @Html.ActionLink("Create New", "Create")
            @using (Html.BeginForm())
            {
                <a>
                    Fur: @Html.TextBox("searchValue")

                    <input type="submit" value="Search" />
                </a>
            }
        </p>
        <table class="table" style="background-color:gray; color:white" id="data">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.breed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cgender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.csize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cfur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lifeTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cthumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nickname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discription)
                </th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.breed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cgender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.csize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cfur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lifeTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cpic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cthumbnail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.discription)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.cid }, new { style = "Font-Size:16px; font-family:sheep sans; color:black" })
                            @Html.ActionLink("Details", "Details", new { id = item.cid }, new { style = "Font-Size:16px; font-family:sheep sans; color:black" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.cid }, new { style = "Font-Size:16px; font-family:sheep sans; color:black" })
                        </td>
                    </tr>
                }
            </tbody>
            

        </table>
    </div>
</section>


